.about {
  display: flex;
  background-color: #FFF;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .button-wrapper {
    display: flex;
    justify-content: center;

    a {
      display: block;
      float: left;
      color: #fff;
      font-weight: 300;
      cursor: pointer;
      padding: 0.75rem 2rem;
      background-color: $blue-red;
    }
  }

  .content {
    text-align: center;
    margin-bottom: 3rem;

    .image {
      width: 50%;
      height: 50%;
    }
  }
}
