.demo {
  display: flex;
  background-color: $icy-blue;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .demo-images {
    text-align: center;
  }

  img {
    cursor: pointer;
    width: 60%;
    height: 10rem;
  }
}
