<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <title>SP</title>
    <link rel='stylesheet' type='text/css' href='assets/css/main.css'>
    <link rel='stylesheet' type='text/css' href='bower_components/lightbox2/dist/css/lightbox.min.css'>
  </head>

  <body>

    <header>
      <div class='logo'>SP</div>
      <nav class='header-nav'>
        <ul>
          <li>
            <a>About</a>
          </li>
          <li>
            <a>Demo</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class='demo'>
      <div class='demo-images'>
        <a href='assets/images/360-image.jpg' data-lightbox='image-1'><img src='assets/images/360-image.jpg' alt='mountain'></a>
        <a href='assets/images/360-image.jpg' data-lightbox='image-1'><img src='assets/images/360-image.jpg' alt='mountain'></a>
      </div>
    </section>

    <script src='bower_components/lightbox2/dist/js/lightbox-plus-jquery.min.js'></script>
    <script>
      lightbox.option({
        positionFromTop: 180
      });
    </script>
  </body>

</html>
