<div class='about'>
  <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->


  <div class='content'>
    <div class='title'>Stitch Anywhere. On Any Device.</div>
    <div class='intro'>
      <img class='image' src='assets/images/intro2.jpg'>
    </div>
    <div class='button-wrapper'>
      <a class='signup' ng-click='vm.open()'>Contact</a>
    </div>
  </div>

  <script type="text/ng-template" id="updatesForm.html">
    <div class="modal-header">
        <h3 class="modal-title">Email us at mission@stitchplanet.io</h3>
    </div>
    <!--div class="modal-body">
       <form name='updatesForm' ng-submit='submit(updatesForm)'>
         <div class="warning" ng-show="updatesForm.$invalid && submitted">{{warning}}</div>
         <input type="text" name="firstName" placeholder="First Name" ng-model="user.firstName" required>
         <input type="text" name="lastName" placeholder="Last Name" ng-model="user.lastName" required>
         <input type="email" name="password" placeholder="Email" ng-model="user.email" required>
         <div class="modal-footer">
             <button class="btn btn-primary" type="submit">Submit</button>
             <button class="btn btn-warning" type="cancel" ng-click="cancel()">Cancel</button>
         </div>
       </form>
       </div>-->
    </script>
</div>
